body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #418f41;
    color: white;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    list-style: none;
    margin-right: 10px; 
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
.navigation a:hover {
    background: #1565C0;
  }


.navigation li a:hover, .controls button:hover, .controls select:hover{
    background-color: #2996d4;
    color: black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(8, 5, 5, 0.87);
    padding: 1em;
    
}

dialog {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(73, 66, 66, 0.87);
    width: 80%;
    max-width: 600px;
    padding: 10px;
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    
}

.controls button, .controls select {
    margin-left: 10px;
    padding: 1em;
}

.section {
    padding: 30px 20px;
    border-bottom: 2px solid #eee;
}

.container {
    display: flex;
    justify-content: space-between;
}

.column.photo img {
    flex: 1;
    height: auto;
    border-radius: 45%;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    
}.column.info{
    flex: 1;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
}
span{
    text-align: justify;
    font-style: normal;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    line-height: 25px;

}
b{
    color: #0914b3;
}

.work {
    width: 620px;
    padding: 0.3em;
    background-color: #ddd;
    margin-bottom: 20px;
    box-shadow: 3px 3px 4px black;
}
h3{
    font-family: Arial, sans-serif;
    color: blue;
}

#education ul {
    list-style: none;
    padding-left: 0;
    margin-left: 20px;
}
#education ul li {
    position: relative;
    padding-left: 30px; /* Adjust to make space for the emoji */
    margin-bottom: 5px;
}
#education ul li::before {
    content: '👩‍🎓'; /* Woman student emoji */
    position: absolute;
    left: 0;
    top: 0;
}

#hobbies ul {
    list-style:decimal; 
    font-style: oblique;
    padding-left: 10px;
    margin-left: 20px;
}

#skills ul {
    list-style: circle;
    padding-left: 10px;
    margin-left: 20px;
}



.contact-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.contact-column, .connect-column {
    flex: 1;
    margin: 0 20px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.contact-details, .contact-actions {
    flex: 1;
    padding: 5px;
}

.contact-actions details {
    margin-top: 5px;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.3em 0.3em 0;
    width: 130px;
  }
  
  summary {
    font-weight: bold;
    margin: -0.2em -0.2em 0;
    padding: 0.2em;
  }
  
  details[open] {
    padding: 0.3em;
  }
  
  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.2em;
  }

.connect-column{
    padding: 10px;
}
.connect-column a img {
    flex: 1;
    height: auto;
    border-radius: 5%;
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
    
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #418f41;
    color: white;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#date-time {
    cursor: pointer;
    padding-right: 80px;
}

@media (max-width: 800px) {
    .navigation, .controls {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    .controls select {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }

    .contact-section {
        flex-direction: column;
        align-items: center;
    }

    .contact-column, .connect-column {
        width: 100%;
        margin: 10px 0;
    }

    .contact-info {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }